<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SocialMediaApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/SocialMediaApp.styles.css" asp-append-version="true"/>
</head>
<body>
<div id="wrapper">
    
    <header class="z-[100] h-[--m-top] fixed top-0 left-0 w-full flex items-center bg-white/80 sky-50 backdrop-blur-xl border-b
 border-state-200">
        <div class="2xl:w-[--w-side] lg:w-[--w-side-sm]">
            <div class="flex items-center gap-1">
                
            </div>
            <div>
                @* search *@
                @* notification icon *@
                @* profile icon *@
            </div>
        </div>
    </header>
    
    @* side bar (left)*@


    @RenderBody()
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>